@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Gupter", serif;
  background: rgb(26 26 26);
  background: white;
  color: #2D2D2D;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

* {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 10px;
}

.first-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 2rem;
  background-color: aliceblue;
  margin-bottom: 10px;
  height: 100vh;
}

.top-name {
  font-size: 7vw;
  text-align: left;
}

.name {
  font-size: 5.5vw;
  text-align: left;
}

.tower_image {
  width: 100%;
}

.tower_image:hover {
  scale: 120%;
  transition-duration: 500ms;
}

.title {
  font-size: 4vw;
}

.lamp_content {
  width: 80vw;
  box-shadow:
    5px 5px 10px black;
    border-top: 2px solid black;
}

.lamp-canvas {
  height: 50vh;
  width: 100%;
  margin: 0;
  /* padding: 0; */
  box-shadow:
    5px 5px 10px black;
  border-radius: 2vh 2vh 0 0;
  background: white;
}

.lamp-split-images {
  display: grid;
  grid-template-columns: 4fr 5fr;
  display: 80vw;
}

.lamp_image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  }
  
  .lamp_image:nth-child(1) {
  border-radius: 0 0 0 2vh;
}
.lamp_image:nth-child(2) {
  border-radius: 0 0 2vh 0;
  border-left: 2px solid black;
}

/* DRUM VIDEO CONTENT */

.drum_content {
  width: 80%;
  direction: rtl;
}

.split-drum {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  align-items: center;
  height: 80vh;
}

.top-down-drums {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  height: 80vh;
}

.drum-canvas-1 {
  width: 100%;
  height: 40vh;
  background: rgb(245, 245, 245);
  border-radius: 2vh;
  box-shadow:
    5px 5px 10px black;
}

.drum-canvas-2 {
  width: 100%;
  height: 40vh;
  background: rgb(245, 245, 245);
  border-radius: 2vh;
  box-shadow:
    5px 5px 10px black;
}

.drum_video-images {
  height: 80vh;
  width: 100%;
  object-fit: cover;
}

.drum_video {
  border-radius: 2vh;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  box-shadow:
    5px 5px 10px black;
}

.drum-split-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  height: 30vh;
}

.drum_image {
  border-radius: 2vh;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow:
    5px 5px 10px black;
}


/* GUN CANVAS */

.gun_content {
  width: 80%;
}

.gun-canvas {
  outline: none;
  height: 50vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow:
    5px 5px 10px black;
  border-radius: 2vh;
  background: white;
  margin-bottom: 10px;
}

.gun-images {
  display: grid;
  grid-template-columns: 5fr 4fr;
  gap: 10px;
}


.icons {
  width: 30px;
  height: auto;
  margin: 0.25rem;
}

@media screen and (max-width : 480px) {
  .first-box {
    height: 20vh;
  }

  .name {
    font-size: 3vw;
  }

  .title {
    font-size: 3vw;
  }

  .lamp-canvas {
    height: 20vh;
    width: 100%;
  }

  .lamp_image {
    height: 100px;
  }
}