@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Gupter", serif;
  background: rgb(26 26 26);
  background: whitesmoke;
  color: #2D2D2D;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

* {
  text-align: center;
}

.first-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: center;
  height: 100vh;
}

.background {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: fixed;
  background: url("background.jpg") fixed ;
  background-size: cover;
  opacity: 0.75;
}

.top-name {
  font-size: 7vw;
  text-align: left;
}

.name {
  font-size: 5.5vw;
  text-align: left;
}

.tower_image {
  width: 100%;
}

.title {
  font-size: 4vw;
}

.main {
  padding: 0%;
  width: 80%;
  margin: auto;
}

/* Lamp Content */

.lamp_layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: center;
  border: 2px solid #2D2D2D ;
}

.lamp_canvas {
  width: 100%;
  height: 100%;
}

.lamp_images_layout {
  display: grid;
  grid-template-columns: 1fr;
}

.lamp_image {
  width: 100%;
  object-fit: cover;
}

/* DRUM VIDEO CONTENT */

.drum_layout {
  border: 2px solid #2D2D2D ;
} 

.top_layout {
  display: grid;
  grid-template-columns: 6fr 3fr 3fr;
}

.bottom_layout {
  display: grid;
  grid-template-columns: 6fr 4fr;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.drum_video {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.drum_image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}


/* GUN CANVAS */

.gun_layout {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  border: 2px solid #2D2D2D;
}

.gun_canvas {
  height: 50vh;
  width: 100%;
}

.gun_images {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.icons {
  width: 30px;
  height: auto;
}

@media screen and (max-width : 480px) {
  .first-box {
    height: 20vh;
  }

  .name {
    font-size: 3vw;
  }

  .title {
    font-size: 3vw;
  }
}